     h1{

            font-style: italic;
            font-family: "Arial Black";
            color: black;
        }

        p, .container-fluid {
            margin-right: 10%;
            margin-left: 10%;
            padding-bottom: 20px;
            text-align: center;
            color: black;
            font-family: 'Comic Sans MS';
        }
        body {
            position: relative;
            background-color: #0d493b;
        }
        .well {
            margin-right: 3%;
            margin-left: 3%;
            background-color: white;
        }
        footer {
            min-height: 8vh;
            padding-top: 20px;
            padding-bottom: 1px;
            background-color: black;
        }
        section {
            min-height: 91.8vh;
            font-size: 18px;
            font-weight: 300;
        }
